<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <security-constraint>  
        <web-resource-collection>  
            <web-resource-name>SSL Secured User Service</web-resource-name>  
            <url-pattern>/rest/user/*</url-pattern>  
        </web-resource-collection>  
        <user-data-constraint>  
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>   
        </user-data-constraint>  
    </security-constraint>  
    <security-constraint>  
        <web-resource-collection>  
            <web-resource-name>SSL Secured Ballot Service</web-resource-name>  
            <url-pattern>/rest/ballot/*</url-pattern>  
        </web-resource-collection>  
        <user-data-constraint>  
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>   
        </user-data-constraint>  
    </security-constraint>  
    <security-constraint>  
        <web-resource-collection>  
            <web-resource-name>SSL Secured Ballot Service</web-resource-name>  
            <url-pattern>/rest/vote/*</url-pattern>  
        </web-resource-collection>  
        <user-data-constraint>  
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>   
        </user-data-constraint>  
    </security-constraint>  
    
</web-app>



